# Godot
.godot/
.import/
export.cfg
export_credentials.cfg
*.translation
.mono/
data_*/
mono_crash.*.json

# Donnees utilisateur (scores, settings, keybinds)
*.save

# OS
.nomedia
Thumbs.db
.DS_Store
desktop.ini

# IDE
.vscode/
*.swp
*.swo
*~
